server/schemas/notebook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  
  <!-- Root element: notebook -->
  <xs:element name="notebook" type="NotebookType"/>
  
  <!-- NotebookType definition -->
  <xs:complexType name="NotebookType">
    <xs:all>
      <!-- Title is required, max 100 characters -->
      <xs:element name="title" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <!-- Description is optional, max 500 characters -->
      <xs:element name="description" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <!-- Color is optional (hex color code) -->
      <xs:element name="color" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="#[0-9a-fA-F]{6}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <!-- Icon is optional (emoji or string) -->
      <xs:element name="icon" type="xs:string" minOccurs="0"/>
      
      <!-- isArchived is optional -->
      <xs:element name="isArchived" type="xs:boolean" minOccurs="0"/>
      
      <!-- Timestamps are optional -->
      <xs:element name="createdAt" type="xs:string" minOccurs="0"/>
      <xs:element name="updatedAt" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  
</xs:schema>
